/*
	File: css/main.css
	Author(s): ParanoidVoxel
	Description:
		This is the main stylesheet.
		It's used across all pages of the website.

*/

/* Begin unspecific Styling */
* {
    box-sizing: border-box;
}
body {
    font-family: "Roboto", sans-serif;
    color: #111;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
/* End unspecific styling */
.header {
	/* .header
		The container for the page title that
		is displayed first on all pages across the site
	*/
	text-align: center;
}
.header-text {
	/* .header-text
		The title that is displayed first on all pages
		across the site.
	*/
	font-size: 42pt;
	font-weight: 100;
	color: #FFF;
	height: 90px;
	text-align: center;
	display: inline-block;
	margin: auto;
	padding: 10px;
	background-color: rgba(40, 40, 40, 0.8);
	top: 155px;
	position: relative;
}
.header-container {
	/* .header-container
		container for the .header and the
		banner image.
	*/
	height: 400px;
	background-image: url("../img/banner_img.png");
	background-size: cover;
	background-position: bottom;
	background-attachment: fixed;
	width: 100%;
	margin-bottom: 25px;
}
.section {
	/* .section
		A site is built up of sections.
	*/
  margin-top: 10px;
  width: 70%;
  margin: auto;
  display: block;
}
.paragraph {
	/* .paragraph
		A paragraph of text.
	*/
  margin: auto;
  padding: 10px;
}
.paragraph-header {
	/* .paragraph-header
		The header for a "paragraph" type section.
	*/
  margin: auto;
  text-align: center;
  font-size: 22pt;
}

.navbar {
	/* .navbar
		The top-most navigation bar that contains links to all
		the pages to the site.
	*/
	list-style-type: none;
	background: #888;
	height: 40px;
	box-shadow: 0px 0px 5px 2px #000;
	position: fixed;
	z-index: 1;
	width: 100%;
	margin: 0;
	padding: 0;
}
[class*="navbar-"] {
	/* .navbar-*
		All elements inside the navbar, including the images and the buttons
		and dropdowns
		TODO: Add Dropdown Component
	*/
	float: left;
	height: 100%;
	margin-right: 4px;
}
.navbar-item {
	/* .navbar-item
		All text items in the .navbar
	*/
	text-align: center;
	line-height: 40px;
	padding: 0 5px 0 5px;
}
.navbar-logo {
	/* .navbar-logo
		All image elements in the .navbar
	*/
  padding: 3px;
}
.navbar-item:hover {
	background: #444;
	cursor: pointer;
	color: #888;
}
.navbar-item:first-child {
  margin-left: 10px;
}
.right {
  float: right;
}
.person-image {
  width: 60%;
  margin: auto;
}
.person-image img {
  width: 100%;
}
.person {
  float: left;
  margin-top: 25px;
  width: 21%;
  margin-left: 0.5%;
  margin-right: 0.5%;
}
.person-title {
  text-align: center;
  font-size: 16pt;
  font-weight: bold;
}
.person-name {
  font-weight: bold;
  text-align: center;
}
.person-description {
  text-align: center;
  width: 70%;
  margin: auto;
}
.people-container {
    margin: auto;
    display: block;
    width: 100%;
}
.footer {
	width: 100%;
	display: block;
	float: left;
	padding: 20px;
	font-size: 10pt;
	background: #888;
	color: #444;
	margin-top: 10px;
}
.footer a {
	color: #444;
}
.footer-text {
	padding: 5px;
}
@media screen and (orientation: portrait) {
	.section {
		width: 90%;
	}
	.person {
		width: 100%;
	}
	.person-image {
		width: 50%;
	}
}
#left .separator {
    height: 100vh;
    line-height: 100vh;
    float: right;
    border-right: 1px solid #000;
}
.separator .label {
    background: #333;
    color: #FFF;
    padding: 10px;
    border-top: 1px solid #AAA;
    border-bottom: 1px solid #AAA;
}

#right .separator {
    height: 100vh;
    line-height: 100vh;
    float: left;
    border-left: 1px solid #000;
}
#left .separator .label {
    border-left: 1px solid #AAA;
}
#right .separator .label {
    border-right: 1px solid #AAA;
}
#right {
    width: 100%;
    position: absolute;
}
#left {
    width: 100%;
    position: absolute;
}
.separator {
    height: 100vh;
}
.calendar {
	margin: auto;
	display: table;
	list-style: none;
}
.calendar .entry {
	margin-bottom: 4px;
	border-bottom: 1px solid #000;
}
.entry:first-child {
	border-top: 2px solid #000;
}
