/*	=== COLOR SCHEME ===
SOLARIZED HEX     RGB        
--------- ------- -----------
base03    #002b36   0  43  54 # navbar-item
base02    #073642   7  54  66 # body
base01    #586e75  88 110 117 # navbar-item:selected
base00    #657b83 101 123 131 # navbar-item:hover
base0     #839496 131 148 150
base1     #93a1a1 147 161 161 
base2     #eee8d5 238 232 213 
base3     #fdf6e3 253 246 227 
yellow    #b58900 181 137   0
orange    #cb4b16 203  75  22
red       #dc322f 220  50  47
magenta   #d33682 211  54 130
violet    #6c71c4 108 113 196
blue      #268bd2  38 139 210
cyan      #2aa198  42 161 152
green     #859900 133 153   0
	=== COLOR SCHEME ===   */

/* Begin grid system */
.row::after {
    content: "";
    clear: both;
    display: table;
}
* {
    box-sizing: border-box;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
[class*="col-"] {
    float: left;
    padding: 0;
    margin: 0;
}
/* End grid system */

/* Begin global styling */
body {
    font-family: "Roboto", sans-serif;
    color: #93a1a1;
    background: #073642;
    padding: 0;
    margin: 0;
}
.header {
    font-size: 22pt;
    font-weight: 100;
}
/* Begin navbar styling */
.navbar {
	list-style-type: none;
	background: #002b36;
	height: 40px;
}
.navbar-item {
	float: left;
	height: 100%;
	text-align: center;
	line-height: 40px;
	margin-right: 4px;
}
.navbar-item:hover {
	background: #657b83;
	cursor: pointer;
}
/* End navbar styling */

/* End global styling */
