* {
    box-sizing: border-box;
}
body {
    font-family: "Roboto", sans-serif;
    color: #111;
    padding: 0;
    margin: 0;
}
.header {
  text-align: center;
}
.header-text {
  font-size: 42pt;
  font-weight: 100;
  color: #FFF;
  height: 90px;
  text-align: center;
  display: inline-block;
  margin: auto;
  padding: 10px;
  background-color: rgba(40, 40, 40, 0.8);
  top: 155px;
  position: relative;
}
.section {
  margin-top: 10px;
  width: 70%;
  margin: auto;
}
.paragraph {
  margin: auto;
  padding: 10px;
}
.paragraph-header {
  margin: auto;
  text-align: center;
  font-size: 22pt;
}
.header-container {
  height: 400px;
  background-image: url("../img/banner_img.png");
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  width: 100%;
}
.navbar {
	list-style-type: none;
	background: #888;
	height: 40px;
	box-shadow: 0px 0px 5px 2px #000;
position: fixed;
z-index: 1;
width: 100%;
margin: 0;
padding: 0;
}
[class*="navbar-"] {
	float: left;
	height: 100%;
	margin-right: 4px;
}
.navbar-item {
	text-align: center;
	line-height: 40px;
  padding: 0 5px 0 5px;
}
.navbar-logo {
  padding: 3px;
}
.navbar-item:hover {
	background: #444;
	cursor: pointer;
	color: #888;
}
.navbar-item:first-child {
  margin-left: 10px;
}
.right {
  float: right;
}
.person-image {
  width: 100%;
  margin: auto;
}
.person-image img {
  width: 100%;
}
.person {
  float: left;
  margin-top: 25px;
  width: 25%;
}
.person-title {
  text-align: center;
  font-size: 16pt;
  font-weight: bold;
}
.person-name {
  font-weight: bold;
  text-align: center;
}
.person-description {
  text-align: center;
  width: 70%;
  margin: auto;
}
.people-container {
  margin: auto;
  width: 100%;
}
@media screen and (orientation: portrait) {
	.section {
		width: 90%;
	}
	.person {
		width: 100%;
	}
	.person-image {
		width: 50%;
	}
}
